$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/*global variables for colors */
$light-brown: #E59866;

/* Space out content a bit */
body {
    background-image: url("/images/bg.jpg");
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-inverse{
  width: 100%;
  margin: 0 auto;
}

.food-container{
  width: 93%;
  margin: 0 auto;
  padding-top: 30px;
  .first-row-images{
    .carousel-inner{
      .item img{
        width: 100%;
          margin: 0 auto;
      }
    }
  }
}
