$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/*global variables for colors */
$light-brown: #E59866;

/* Space out content a bit */
body {
    background-image: url("/images/bg.jpg");
    padding-top: 20px;
    padding-bottom: 20px;
}

h3{
  color: white;
}

p{
  font-size: 13px;
  color: white;
}
.navbar-inverse{
  width: 100%;
  margin: 0 auto;
}

.food-container{
  width: 93%;
  margin: 0 auto;
  padding-top: 30px;
  .first-row-images{
    .carousel-inner{
      .item img{
        width: 100%;
          margin: 0 auto;
      }
    }
  }
}

.footer{
  background-image: url("/images/footer-bg.png");
  height: auto;
  text-align: center;
  .quick-links{
    font-size: 14px;
  }
  ul{
    list-style: none;
    a{
      color: white;
    }
  }
}
